@media (min-width: 810px) {

    /* - - - - - - - - Web-Applikation - - - - - - - */

    .chart-wrapper {
        width: 500px;
        margin-left: 25px;
    }

    /* - - - - - - - - About - - - - - - - */

    .who-we-are, .about {
        flex: 1;
    }

    .teamMembers {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin: 50px 0 25px 0;
    }

.about {
    max-width: 500px;
    /* Neue Zeilen für die Zentrierung: */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* Falls der ganze Block auf der Seite zentriert sein soll: */
    margin: 0 auto; 
 }

}
